
<div class="container mt-5">
    <p class="h5 text-center">I having 2 Years of experinece in Infosys</p>
    <div class="d-flex justify-content-center">
        <div *ngFor="let icon of icons" class="card bg-dark ms-5 mt-3 flip-anim" style="width: 8rem; height: 10rem;">
            <div class="card-body" ngClass={{icon.backShadow}}>
                <img [attr.src]="icon.iconPath" style="width: 100px; height: 100px; padding: 0 10px;" >
                <p class="card-text text-white text-center" >{{icon.name}}</p>
            </div>
        </div>
    </div>
</div>
