<div class="container">
    <div class="d-flex" style="margin-top: 4rem;">
        <div class="image-wrapper">
            <img src="./../../../assets/images/my_image.png" id="person-image">
        </div>
        <div>
            <div style="text-align: center; padding: 50px; margin-top: 3rem; z-index: 1; position: absolute;">
                <h1 style="font-size: 3em; font-weight: bold;">I am Chiranjib Das</h1>
                <h2 style="font-size: 2.5em; font-weight: bold;">A Full Stack Developer</h2>
                <p style="font-size: 1.5em; color: #555;">Bringing Ideas to Life, One Line at a Time</p>
              </div>
              <!-- <app-circular-animation class="circular-animation" style="z-index: 100; position: absolute;"></app-circular-animation> -->
        </div>
        
    </div>
</div>