<div class="container">
    <div class="d-flex" style="margin-top: 4rem;">
        <div class="image-wrapper">
            <img src="./../../../assets/images/my_image.png" id="person-image" class="img-fluid d-none d-md-block">
        </div>
        <div>
            <div style="text-align: center; padding: 50px; margin-top: 2rem; z-index: 1; position: absolute;">
                <h1 class="display-5 fw-bold">I am <span style="color: rgb(202, 2, 2);">Chiranjib Das</span></h1>
                <h2 class="display-6 fw-bold">A Full Stack Developer</h2>
                <p style="font-size: 1.5em;" class="text-secondary">Bringing Ideas to Life, One Line at a Time</p>
                <button class="btn btn-primary" (click)="viewResume()">View Resume</button>
              </div>
              <!-- <app-circular-animation class="circular-animation" style="z-index: 100; position: absolute;"></app-circular-animation> -->
        </div>
        
    </div>
    
</div>